<!-- Loop through the navigation items -->
{{#foreach navigation}}
	<div class="menu-item-wrapper">
		<a href="{{url absolute="true"}}" class="menu-item nav-{{slug}}{{#if current}} active{{/if}}">{{label}}</a>
	</div>
{{/foreach}}
<!-- End the loop -->