{{!< default}}

{{#post}}

<div class="post--gallery">
    <div class="site-content">
        <div class="wrapper-1400">
            <article class="{{post_class}}">
                <header class="go-back">
                    <h1>{{title}}</h1>
                    <a href="/">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
                    </a>
                </header>
                <section class="post-full-content">
                    {{content}}
                </section>
            </article>
        </div>
    </div>
</div>

{{/post}}

{{#contentFor "scripts"}}
	<!-- Fitvids -->
	<script type="text/javascript" src="{{asset "built/js/jquery.fitvids.js"}}"></script>


	<script type="text/javascript">
		$(document).ready(function () {
		    // Start fitVids
		    var $postContent = $(".post-full-content");
		    $postContent.fitVids();
		    // End fitVids

			// Set up gallery if present in the article
		    var images = document.querySelectorAll('.kg-gallery-image img');
		    images.forEach(function (image) {
		        var container = image.closest('.kg-gallery-image');
		        var width = image.attributes.width.value;
		        var height = image.attributes.height.value;
		        var ratio = width / height;
		        container.style.flex = ratio + ' 1 0%';
		    });	
		});
	</script>
{{/contentFor}}