//FONTS
$font-primary: 'Roboto', -apple-system,'BlinkMacSystemFont','Segoe UI', 'Helvetica Neue', sans-serif;

// COLOR SCHEME: Default
$color-primary: #2196f3;
$color-secondary: #e91e63;
$color-text: #333333;
$color-text-lighter: #757575;
$color-links: #2196f3;
$color-footer-text: $color-text;
$color-footer-background: white;
$hightlight: #69ff85;

$drawer-color: #1b1b1b;